* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 45%;
    margin: 20px auto;
}

/* Sezione header */

.logo-title {
    height: 80px;
    background-color: violet;
    margin-bottom: 18px;
}

/* Sezione principale */

.jumbotron {
    height: 300px;
    background-color: rgb(219, 219, 104);
    margin-bottom: 18px;
}


.content {
    background-color: rgb(32, 109, 253);
    margin-bottom: 5px;
}

.box {
    background-color: rgb(153, 222, 245);
}

.top {
    height: 50px;
    background-color: rgb(153, 222, 245);
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.box {
    float: left;
    height: 350px;
}

.float-side {
    width: 25%;
    margin: 10px 0;
}

.float-center {
    width: calc(50% - 20px);
    margin: 10px;
}

/* Sezione footer */

footer {
    height: 50px;
    background-color: rgb(137, 65, 204);
}