* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 45%;
    margin: auto auto 10px;
}

/* Sezione header */

header {
    height: 100px;
    margin-bottom: 18px;
}

.logo {
    width: 14%;
    border: 1px solid transparent;
    border-right-color: lightgray;
    padding-right: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.navbar {
padding: 25px 0 0;
}

.navbar li {
    list-style-type: none;
    display: inline;
    padding: 0 5px;
}

.navbar a {
    text-decoration: none;
    color: lightgray;
}

/* Sezione principale */

    /* Jumbotron */

.jumbotron {
    height: 100%;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 18px;
}

.jumbotron-text {
    width: 65%;
    height: 350px;
    padding: 200px 0 50px 25px;
    font-size: 15px;
    color: white;
}

    /* Sezione contenuti */

.content {
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.content-top {
    height: 50px;
}

.content-top h1 {
    margin-bottom: 5px;
}

.content-top h5 {
    color: lightgray;
}

.box {
    float: left;
    height: 350px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-side {
    width: 25%;
    margin: 10px 0;
}

.float-center {
    width: calc(50% - 20px);
    margin: 10px;
}

.content-bg {
    width: 100%;
    height: 125px;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}

.content-bg.left {
    background-image: url("../img/img-3.jpg");
}

.content-bg.right {
    background-image: url("../img/img-5.jpg");
}

.content-bg.center {
    background-image: url("../img/banner-2.jpg");
}

.side-bottom,
.center-bottom {
    padding: 10px 0 0 0;
}

.box h4 {
    margin-bottom: 10px;
}
/* Sezione footer */

.lastline {
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

.lastline > span {
    vertical-align: middle;
    color: red;
    font-size: 18px;
}